.todo-container {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

.todo-form input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.todo-form button {
    background: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.todo-box {
    background: yellow;
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px;
}

.done {
    color: green;
}

.edit {
    color: blue;
    cursor: pointer;
}

.delete {
    color: red;
    cursor: pointer;
}

.arrow {
    color: black;
}