.nav-light {
  background-color: rgb(246, 227, 227);
  color: rgb(40, 35, 35);
}
.nav-dark {
  background-color: rgb(21, 20, 20);
  color: rgb(230, 219, 219);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 0%;
}
.Home-light {
  background-color: rgb(246, 227, 227);
  color: rgb(40, 35, 35);
}
.Home-dark {
  background-color: rgb(21, 20, 20);
  color: rgb(230, 219, 219);
}
.icons{
  padding: 2%;
}